<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container mt-4 mb-4">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <h3 class="text-center" *ngIf="createMode">Ingreso de nuevo artículo</h3>
      <h3 class="text-center" *ngIf="editMode">Editar artículo</h3>
      <h5 class="text-success text-center">{{message}}</h5>

      <form [formGroup]="articulo" (ngSubmit)="createMode ? createArticulo() : editArticulo()">

        <div class="form-group">
          <label for="exampleInputEmail1">Nombre:</label>
          <input type="text" maxlength="25" required class="form-control" id="nombre" name="nombre"
            aria-describedby="nombre" placeholder="Ingrese nombre" formControlName="nombre">

          <div *ngIf="f['nombre']?.touched && f['nombre']?.invalid" class="alert alert-danger">
            <div *ngIf="f['nombre'].errors?.['required']">Nombre es requerido</div>
          </div>
          <small class="text-success" *ngIf="f['nombre'].valid">Correct</small>

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Código:</label>
          <input type="text" maxlength="5" required class="form-control" id="codigo" name="codigo"
            aria-describedby="name" placeholder="Ingrese código" formControlName="codigo">

          <div *ngIf="f['codigo']?.touched && f['codigo']?.invalid" class="alert alert-danger">
            <div *ngIf="f['codigo'].errors?.['required']">Código es requerido</div>
          </div>
          <small class="text-success" *ngIf="f['codigo'].valid">Correct</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Precio Unitario:</label>
          <input type="number" maxlength="5" required class="form-control" id="precioUnitario" name="precioUnitario"
            aria-describedby="precioUnitario" placeholder="Ingrese Precio Unitario" formControlName="precioUnitario">

          <div *ngIf="f['precioUnitario']?.touched && f['precioUnitario']?.invalid" class="alert alert-danger">
            <div *ngIf="f['precioUnitario'].errors?.['required']">Precio Unitario es requerido</div>
          </div>
          <small class="text-success" *ngIf="f['precioUnitario'].valid">Correct</small>
        </div>

        <div class="form-group">
          <!-- {{clientes | json}} -->

          <label for="exampleInputEmail1">Ordenes:</label>
          <select required class="custom-select" id="clienteId" name="ordenId" formControlName="ordenId">
            <option value="{{orden.id}}" *ngFor="let orden of ordenes">
              {{orden.codigo}}
            </option>
          </select>

          <!-- <input type="text" maxlength="5" required class="form-control" id="clienteId" name="clienteId"
                aria-describedby="name" placeholder="Ingrese código" formControlName="clienteId"> -->

          <div *ngIf="f['ordenId']?.touched && f['ordenId']?.invalid" class="alert alert-danger">
            <div *ngIf="f['ordenId'].errors?.['required']">Orden es requerida</div>
          </div>
          <small class="text-success" *ngIf="f['ordenId'].valid">Correct</small>

        </div>

        <button *ngIf="createMode" type="submit" blocked class=" btn-block mt-2 btn btn-success">Crear artículo</button>
        <button *ngIf="editMode" type="submit" class=" btn-block mt-2 btn btn-info">Editar orden</button>
        <button *ngIf="editMode" type="submit" (click)="setCreateMode()"
          class=" btn-block mt-2 btn btn-ligth">Volver</button>

      </form>


    </div>
  </div>

</div>
